---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="./static/css/dashboard.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <!-- <link rel="stylesheet" href="./static/css/blog.css"> -->
</head>


<body>
    <div class="leftNav" id="main">
        <div class="sidebar">
            <a href="#" class="brand">
                <div class="logo" id="dashb-logo">
                    {% include logo.html %}
                    <!-- <h1>Dashboard</h1> -->
                </div>
            </a>

            <ul class="menu ">
                <li onclick="openPage('Dashboard', this, '')">Dashbard</li>

                <li onclick="openPage('Post', this, '')" id="defaultOpen">Post</li>

                <li onclick="openPage('Pages', this, '')"> Pages</li>

                <li onclick="openPage('Settings', this, '')">Settings</li>

            </ul>
            <div class="menu mobilenav">
                {%include mobilenav.html %}
            </div>
        </div>

        <div class="dashb-content">
            <header>
                <div>
                    <i class="fas fa-bars" id="menu"></i>
                    <!-- <h1>Dashboard</h1> -->
                </div>

                <div>
                    <nav class="navbar">



                    </nav>
                </div>

            </header>
            <hr style="outline:solid 1px black;">

            <div class="/" id="" style="background-color: #ebebeb;">
                <div class="container">
                    <div id="Dashboard" class="tabcontent">
                        <h3>All</h3>
                        <div class="row">
                            {% include adminpannel.html%}
                            <!-- <p> All pages summary here</p> -->

                            <div class="dcards col-12 col-lg-4">
                                <div class="card">
                                    <h5 class="card-header">Traffic last 6 months</h5>
                                    <div class="card-body">
                                        <div id="traffic-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- post page -->
                    <div id="Post" class="tabcontent">
                        <h3>Post</h3>

                        <div class="container">
                            <!-- <form action="" method="get"> -->
                            <form class="texTeditor" id="form" method="GET">

                                <input type="file" id="myFile" name="filename" placeholder="upload picture" multiple>

                                <input type="text" id="postTitle" name="postTitle" placeholder="Enter name.." />

                                <textarea id="textArea" name="textArea" cols="30" rows="10" placeholder="Write your post.."></textarea>


                                <!-- <input type="submit" id="previewPost" onclick="handleSubmit()" /> -->


                                <div id="holder">
                                    <div class="item_column ">
                                        <select class="btn2">
                                            <option value=""> selection category</option>
                                            <option value="1"> Poetry</option>
                                            <option value="2">Marketing</option>
                                        </select><span id="output">0</span>

                                    </div>
                                    <div class="item_column ">
                                        <!-- <input type="submit" id="previewPost" class=" btn" onclick="handleSubmit()" /> -->
                                        <button type="preview" id="previewPost" class=" btn2"
                                            style="background-color: white;color: black;"
                                            >Preview</button>

                                        <button type="submit" id="publishPost" class="addBtn btn">Publish</button>
                                    </div>
                                </div>
                            </form>

                            <div class="container">
                                {% include recent.html %}
                            </div>

                        </div>
                    </div>

                    <!-- TabContents or pages -->

                    <div id="Pages" class="tabcontent">
                        <h3>Poetry</h3>
                    </div>

                    <div id="Settings" class="tabcontent">
                        <h3>About</h3>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        const Bar = document.getElementById("menu");
        const main = document.getElementById("main");
        Bar.addEventListener("click", () => {
            return main.classList.toggle("close");
        });

        // tabs

        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

    </script>
    <script src="./static/js/main.js"></script>
    <!-- <script src="./static/js/new.js"></script> -->
    <!-- <script src="./static/js/blogpost.js"></script> -->
    <!-- <script src="./static/js/new.js"></script> -->
    <script src="./static/js/makePost.js"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script>
        new Chartist.Line('#traffic-chart', {
            labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
            series: [
                [23000, 25000, 19000, 34000, 56000, 64000]
            ]
        }, {
            low: 0,
            showArea: true
        });
    </script>

    <script>
        document.querySelector("input").focus();
        console.log(document.activeElement.tagName);
        // → INPUT
        document.querySelector("input").blur();
        console.log(document.activeElement.tagName);
         // → BODY
    </script>

</body>

</html>