<div class="dcards">
    <div class="dcard dcard-1">
        <div class="row">
            <div class="dcard__icon">
                <i class="fa fa-blog" aria-hidden="true"></i>
            </div>
            <p class="dcard__title">
            <p> Total Posts </p>
        </div>
        <div>
            <p><a class="dcard__link" href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
            <p class="dcard_money"> 23K</p>
        </div>
    </div>

    <div class="dcard dcard-2">
        <div class="row">
            <div class="dcard__icon">
                <i class="fa fa-flag" aria-hidden="true"></i>
            </div>
            <p class="dcard__title">
            <p>Analytics</p>
        </div>
        <div>
            <p><a class="dcard__link" href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
            <p class="dcard_money"> 23K</p>
        </div>
    </div>

    <div class="dcard dcard-3">
        <div class="row">
            <div class="dcard__icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <p class="dcard__title">
            <p>Comments</p>
        </div>
        <div>
            <p><a class="dcard__link" href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
            <p class="dcard_money"> 23K</p>
        </div>
    </div>
</div>

<!-- <div>
    <div class="dcard dcard-3 ">
        <div class="dcard__icon">
            <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <p class="dcard__More">
            <a class="dcard__link" href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </p>
        <div class="dcard__title">
            <p>Contacts</p>
            <p class="dcard_money"> 23,000</p>
        </div>
    </div>

    <div class="dcard dcard-4">
            <div class="dcard__icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </div>
            <p class="dcard__More">
                <a class="dcard__link" href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </p>
            <div class="dcard__title">
                <p> Add to social</p>
                <p class="dcard_money"> 23,000</p>
            </div>
        </div>

</div> -->

