<footer>
    <div class="footer__addr">
        <h1 class="footer__logo">MawuliStephen</h1>

        <h2 id="contact">Contact</h2>

        <address>
            Yaa Asantewaa II street |Kumasi Ghana.<br>
             0202-797-306

            <a class="footer__btn" href="mailto:mawulistephens@gmail.com">Email Us</a>
        </address>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Marketing</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Digital Marketing</a>
                </li>

                <li>
                    <a href="#">Sales</a>
                </li>

                <li>
                    <a href="#">Adcopy</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>

            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#">UI/UX/ Design</a>
                </li>

                <li>
                    <a href="#">JavaScript</a>
                </li>

            </ul>

        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Writing</h2>

            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#">Poetry</a>
                </li>

                <li>
                    <a href="#">Fictions</a>
                </li>

            </ul>



        <!-- <li class="nav__item">
            <h2 class="nav__title">Legal</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Privacy Policy</a>
                </li>

                <li>
                    <a href="#">Terms of Use</a>
                </li>

                <li>
                    <a href="#">Sitemap</a>
                </li>
            </ul>
        </li> -->
    </ul>

    <br>
    <br>


    <div class="legal get-social" id="social">
        <!-- <p>&copy; 2023 Something. All rights reserved.</p> -->

        <!-- <div>
            <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
        </div> -->

        <div class="">
            <p>Connect with me on Social Media.</p>
            <br>
            <div class="social-wrapper">
                <li><a class="facebook get-social-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="github get-social-github" href="#"><i class="fa fa-github"></i></a></li>
                <li><a class="twitter get-social-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin get-social-linkedIn" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="whatsapp get-social-whatsApp" href="https: //wa.me/233571697172"><i class="fa fa-whatsapp"></i></a></li>

            </div>

            <br>

            <p>&copy;2023 Ms-website | All rights reserved</p><span> Buil with Love by Mawuli Stephen</span>


        </div>
    </div>



</footer>