<div class="col-lg-4 col-md-4">
    <div class="fh5co-blog">
        <a href="#"><img class="img-responsive" src="./src/backimg.jpg" alt=""></a>
        <div class="image-popup" href="#">
            <div class="prod-title">
                <h3><a href="" #>Ghana Beyond aid</a></h3>
                <span class="posted_by">Posted by: Admin</span>
                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                <span class="post_date">21 March 2023</span>
                <p>Lionel Stephen come, Home .</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4">
    <div class="fh5co-blog">
        <a href="#"><img class="img-responsive" src="../src/mawuli.png" alt=""></a>
        <div class="image-popup" href="#">
            <div class="prod-title">
                <h3><a href="" #>Raise and learn lets build a better Ghana</a></h3>
                <span class="posted_by">Posted by: Admin</span>
                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                <span class="post_date">21 March 2023</span>
                <p>Fellow country men and women.
                    Our motherland, Ghana is 66 years old after obtaining independence from foreign
                    direct rule. .</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
</div>