<nav class="navbar">

    <div>
        <!-- <h1>{{ "Mawuli <br> Stephen"  }}</h1> -->
        <a href="#" class="brand">{{ "Mawuli Stephen" }}</a>
    </div>

    <div>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content ">
                <ul class="nav__ul modal-content-list">

                    <span class="close">&times;</span>

                    <li><a href="./main.html">Home</a></li>

                    <li> <a href="#"> About Me</a></li>

                    <li><a href="./blog.html">Blog</a></li>

                    <li><a href="#exit">contact Me</a></li>

                    <li><a href="#">Follow me</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>