<!-- <div class="column nature">
    <div class="content">
        <img src=".//src" alt="Mountains">
        <h4>Mountains</h4>
        <p>Lorem ipsum dolor..</p>
    </div>
</div> -->

<!-- <div class="column nature">
    <div class="content">
        <img src="./src/" alt="Mountains">
        <h4>Mountains</h4>
        <p>Lorem ipsum dolor..</p>
    </div>
</div> -->

<div class="container" id="blog_post">
    <div class="col-lg-4 col-md-4">
        <div class="fh5co-blog">
            <a href="#"><img class="img-responsive" src="./src/backimg.jpg" alt=""></a>
            <div class="image-popup" href="#">
                <div class="prod-title">
                    <h3><a href="" #>Raise and learn lets build a better Ghana</a></h3>
                    <span class="posted_by">Posted by: Admin</span>
                    <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                    <span class="post_date">21 March 2023</span>
                    <p>Fellow country men and women.
                        Our motherland, Ghana is 66 years old after obtaining independence from foreign
                        direct rule. <span id="dots">...</span><span id="more">The visit was to assess the accommodation situation, as well as get firsthand information on the report of a toilet cubicle being used as a dormitory.

                            Over the weekend, a video which showed students sleeping in toilet cubicles went viral, causing outrage on social media and raising concerns over the safety and well-being of the students. 
                            
                            Investigations
                            Following the incident, the GES last Sunday directed the headmaster and the senior housemaster of the school to step aside to allow for investigations into the matter.</span> .</p>
                        <button onclick=" readMore()"class="btn btn-primary" id="readMoreBtn">Read More</button>
                    <!-- <a href="#" class="btn btn-primary">Read More</a> -->
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-4 col-md-4">
        <div class="fh5co-blog">
            <a href="#"><img class="img-responsive" src="./src/backimg.jpg" alt=""></a>
            <div class="image-popup" href="#">
                <div class="prod-title">
                    <h3><a href="" #>Raise and learn lets build a better Ghana</a></h3>
                    <span class="posted_by">Posted by: Admin</span>
                    <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                    <span class="post_date">21 March 2023</span>
                    <p>Fellow country men and women.
                        Our motherland, Ghana is 66 years old after obtaining independence from foreign
                        direct rule. . <span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor.
                            Maecenas nisl est,
                            ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc
                            sagittis dictum nisi,
                            sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
                            turpis. Donec vitae dui eget tellus gravida venenatis.
                            Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
                    </p>
                    <button onclick=" readMore()"class="" id="readMoreBtn">Read More</button>
                    <!-- <a href="#" class="btn-primary" id="readMoreBtn" >Read More</a> -->
                </div>
            </div>
        </div>
    </div>




</div>