<div>
  <div id="Home" class="tabcontent">
    <h3>All</h3>
    <p>Home is where the heart is..</p>
    <!-- <div class="container">
      Blog post Gallery Grid 
      <div class="row">
        <div class="column nature">
          <div class="content">
            <img src="./src/" alt="Mountains">
            <h4>Mountains</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>

        <div class="column nature">
          <div class="content">
            <img src="./src/" alt="Lights" style="width:100%">
            <h4>Lights</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>

        <div class="column nature">
          <div class="content">
            <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
            <h4>Forest</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>

        <div class="column cars">
          <div class="content">
            <img src="/w3images/cars1.jpg" alt="Car" style="width:100%">
            <h4>Retro</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>

        <div class="column cars">
          <div class="content">
            <img src="/w3images/cars2.jpg" alt="Car" style="width:100%">
            <h4>Fast</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>

        <div class="column cars">
          <div class="content">
            <img src="/w3images/cars2.jpg" alt="Car" style="width:100%">
            <h4>Fast</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>

        <div class="column people">
          <div class="content">
          </div>
        </div>

        <div class="column people">
          <div class="content">
            <img src="/w3images/people2.jpg" alt="People" style="width:100%">
            <h4>Man</h4>
            <p>Lorem ipsum dolor..</p>
          </div>
        </div>


        <!-- END GRID -->
      </div>
      {% include poetry.html %}

    </div> 

  </div>



  <!-- <div id="Contact" class="tabcontent">
    <h3>Contact</h3>
    <p>Get in touch, or swing by for a cup of coffee.</p>
  </div> -->

  <!-- <div id="About" class="tabcontent">
    <h3>About</h3>
    <p>Who we are and what we do.</p>
  </div> -->
</div>