<section style="flex-direction: column; justify-content: center;   margin-top:0px;">
    <li>
        <button class="tablink tab_btn" onclick="openPage('Dashbard', this, 'red')" id="defaultOpen">Dashbard</button>
    </li>
    <li>
        <button class="tablink tab_btn" onclick="openPage('Post', this, 'green')">Post</button>

    </li>

    <li>
        <button class="tablink tab_btn" onclick="openPage('Pages', this, 'blue')">Pages</button>

    </li>

    <li>
        <button class="tablink tab_btn" onclick="openPage('Settings', this, 'orange')">Settings</button>
    </li>
</section>
