/* Uiniversal css. This works for all pages  */

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



html {
  font-size: 100%;
  box-sizing: inherit;
}

body {
  font-family:"Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #000;
  /* color: #fefefe; */
  margin-top: auto;
  overflow-y: scroll;
  position: relative;
  /* background-color:  #FCF6F5FF; */
  background-color: #fcf6f5;
  background-image: -webkit-linear-gradient(43deg, #fcf6f5 14%, #f6fcf5 32%, #fcf5f6 99%);
  background-image: -moz-linear-gradient(43deg, #fcf6f5 14%, #f6fcf5 32%, #fcf5f6 99%);
  background-image: -o-linear-gradient(43deg, #fcf6f5 14%, #f6fcf5 32%, #fcf5f6 99%);
  background-image: linear-gradient(43deg, #fcf6f5 14%, #f6fcf5 32%, #fcf5f6 99%);

  /* background-color:  #a8c66c; */
}

/* All page headers it includes navbar etc */
.brand {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #2f2f2f;
  /* text-transform: uppercase; */
}

.header {
  position: fixed;
  /* background-color: #1b6535; */
  background-color: #fefefe;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  /* border-bottom:5px solid #6b4; */
}

.logo{
   height: 50px;
   width: 50px;
}
#logo{
  height: 45px;
  width: 45px;
border: 100p;}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  padding-top: 15px;
  padding: 25px;
  z-index: -1;
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  background-color: #2f2f2f;
  width: 65%;
  height: 100%;
}

.modal-content-list {
  list-style: none;
  margin-top: 20px;
  column-gap: 25px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:red;
  text-decoration: none;
  cursor: pointer;
}

/* img */

.mask {
  max-width: 400px;
  height: 400px;
  margin: 1em auto;
  position: relative;
  border:0.001px solid #ccc;
  /* border-radius: 100%; */
  
}

.banner img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
} 

/* .mask figcaption {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 150%;
  color: #333;
} */

/* buttons */

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background:  #2f2f2f;
  /* background-color: #ADEFD1FF; */
  /* background: transparent; */
  color: #FFFF;
  padding: 10px 25px;
  margin: 30px 10;
  border-radius: 10px;
  /* transition: background 0.5s; */
}

.btn_secondary {
  display: inline-block;
  outline: solid 0.5px #555555;
  border: solid 0.5px #555555;
  color: #000000;
  padding: 10px 100px;
  margin: 0px 0;
  border-radius: 50px;
}

/* .btn_secondary:hover {
  background: #6b4;
  color: white;
} */

.btn:hover {
  background: #563434;
  transition: background 0.5s
}

/* Wrappers */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.landing_container {
  max-width: 1300px;
  padding: 25px;
  margin: auto;
}

#holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 25px;
}


#blog_section {
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 25px;
  /* margin: auto; */
  background-color: white;
  
}

#blog_post{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.fh5co-blog a img {
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 140px;
  /* margin: 200px; */
  max-width: 1500px;
}


h2 {
  font-family: sans-serif;
  /* color:#fff; */
}

.text-decor{
  padding:0px 0px 0px 20px; 
  /* line-height:30px;
  line-height:30px; */
}

/* 
#image_frame {
  display: flex;
  flex-basis: 25%;
  max-width: 50%;
  max-height: 40%;
  flex-wrap: wrap;
  display: inline-flex;
  height: auto;
  max-width: 100%;
  vertical-align: middle;

} */

.item_colum {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 50%;
  flex-wrap: wrap;
  /* flex-basis: 41.6666666667%; */
  /* max-width: 41.6666666667%; */
  /* max-width: 45%; */
}

.background_color {
  width: 100%;
  background-color: #00203FFF;
  /* background-color: #2F3C7E; */
  color: #ffffff;
  /* color: #ADEFD1FF; */
}

/* swiper or coursel */
section{
  position: relative;  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swiper {
  width: 100%;
  max-height: 55%;
  margin-bottom: 20px;
}

.swiper-pagination { 
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  /* margin-bottom: 20px; */
  /* padding: 10px; */
}

.swiper-wrapper{
  width: 100%;
  max-height: 40%;
  margin-bottom: 20px;
  /* background-color: #1b6535; */
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  margin:10px;
  /* width: 100%; */
  /* background-color: #234E70; */
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* @media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
} */


/* categories */
/* Content */
/* .content {
  background-color: white;
  padding: 10px;
} */

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}







/* blog card */

.card {
  background-color: #fff;
  max-width: 800px;
  box-shadow: 2px 2px 5px #9e9e9e, -1px -1px 5px #9e9e9e;
  border-radius: 3px;
  display: grid;
  /* grid-template-column: repeat(5, 1fr); */
}

.card .img-container {
  width: 150px;
  height: 100%;
  grid-column: 2;
  background-color: #c1b7b4;
  background-image: url(https://www.dropbox.com/s/7d5qt5wb2xpqeww/city-street.jpg?raw=1);
  background-size: cover;
  background-position: center center;
}


.card-content {
  grid-column: 3 / 5;
  padding: 5px 10px;
  border-left: 1px solid #ccc;
}

h5 {
  text-transform: uppercase;
  color: #555;
}

h4 {
  margin-bottom: 0;
}
.card-content .author {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  margin-top: 15px;
  padding: 5px 0 10px 0;
  color: #555;
}

@media only screen and (max-width:650px) {

  .card {
  display: flex;
  flex-direction: column;
  /* height: 400px; */
}

.card-content {
  grid-column: 3 / 5;
  /* padding: 10px 30px; */
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px solid #ccc;
}

#blog_post{
 width: 100%;
 flex-direction: column;

}

.card-content .author {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  /* margin-top: 25px; */
  /* padding: 25px 0 10px 0; */
  color: #555;
}
.card .img-container {
  /* width: 230px; */
  height: 100%;
  grid-column: 2;
  background-color: #c1b7b4;
  background-image: url(https://www.dropbox.com/s/7d5qt5wb2xpqeww/city-street.jpg?raw=1);
  background-size: cover;
  background-position: center center;
}

.swiper-slide {
  /* margin:40px;
  padding: 15px; */
  
  display: flex;
  justify-content: start;
  align-items: center;
}
.swiper {
  /* width: 100%; */
  max-height: 100%;
  margin-bottom: 20px;
}

.swiper-wrapper{
  max-height: 50%;
}

.text-decor{
  padding:0px ;
  line-height:30px;
}

.center-content {

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* align-items: center; */
  /* margin-top: 20px; */
  padding-left: 0px;
}

h1 {
  font-size: 14px;
}



}










.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #fff;
  /* color: #2f2f2f; */
  /* background-color: #fff; */
  background-color: #2f2f2f;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  /* background-color: rgb(33, 33, 33, 0.07); */
  background-color: floralwhite;
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}
.site-footer .social-icons
{
  text-align:right
}
.footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


/* sponsors */
.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 4rem;
  margin: 0 auto;
  max-width: 900px;
}

li p {
  margin-top: 1rem;
  font-family: system-ui;
  text-align: center;
}

.sponsor img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
}



span{
width: 34px;
height: 34px;
}

/* 
.card-img{
outline: none;
width: 300px;
height: 350px;
z-index: -22; }*/



img {
max-height: 100%;
max-width: 100%;
object-fit: cover;
}


ul, li {
list-style: none;

}




.social-wrapper{
display: flex;
flex-direction: row;
align-items: start;
/* width: 200px; */
padding-left: 0px;
margin-top: 10px;
}

.get-social{
justify-self: start;
padding: 5px;
margin: 2px 8px 1px 2px;
background-color:black;
align-items: center;   
}

.get-social-github{
border-radius: 20% 44% 50% 49%;
padding: 4px;
outline: 1px solid rgba(98, 98, 98, 0.811);
box-shadow: 0.1px 0.2px 0.2px 0.1px;


}

.get-social-twitter{
border-radius: 49% 20% 50% 49%;
/* background-color:blue;
outline: 2px solid white; */
outline: 1px solid rgba(98, 98, 98, 0.811);
box-shadow: 0.1px 0.2px 0.2px 0.1px;
padding: 4px;

}

.get-social-website{
border-radius: 50% 49% 50% 20%;
/* background-color:green;
outline: 2px solid white; */
outline: 1px solid rgba(98, 98, 98, 0.811);
box-shadow: 0.1px 0.2px 0.2px 0.1px;
padding: 4px;    

}

.get-social-linkedIn{
border-radius: 20% 44% 50% 49%;
/* background-color:#000;
outline: 2px solid white; */
outline: 1px solid rgba(98, 98, 98, 0.811);
box-shadow: 0.1px 0.2px 0.2px 0.1px;
padding: 4px;   

}
  


/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .header {
    box-shadow: -1px 0px 0px 0px;
    transition: all 0.35s ease-in-out;
  }

  #holder {
    display: flex;
    flex-direction: column-reverse;
  }

  .item_colum {
    box-sizing: border-box;
    flex: 0 0 auto;
    justify-content: space-between;
    grid-auto-columns: auto;
  }
  .modal-content {
    padding: 20px;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}


/* @media only screen and (min-width: 300px) {
  .header {
    box-shadow: -1px 0px 0px 0px;
    transition: all 0.35s ease-in-out;
  }
  
} */

@media only screen and (min-width: 360px) {

  .menu-name {
    display: block;
    visibility: visible;
  }

  .header {
    box-shadow: -1px 0px 0px 0px;
    transition: all 0.35s ease-in-out;
  }

}


@media only screen and (min-width: 576px) {
  .menu-list {
    justify-content: center;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }

  .header {
    box-shadow: 2px 2px;
    transition: all 0.35s ease-in-out;
    display: block;
  }
}



@media only screen and (min-width: 768px) {
 

  .header {
    box-shadow: 2px 2px;
    transition: all 0.35s ease-in-out;
  }

  #holder {
    display: flex;
    flex-direction: row;
  }



  /* the parent style is on productpage css */
  form input {
    width: 50%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
  }

  /* .menu {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    background: none;
    box-shadow: none;
  } */
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }



  /* Modal Content/Box */
  .modal-content {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
    margin: auto;
    /* padding: 25px; */
    border-radius: 0px 0px 0px 0;
    width: 100%;
    height: 6rem;
    /* align-items: center; */
  }
  .modal-content-list{
    display: flex;
    flex-direction: row-reverse;
  
    
  }

  #holder {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-height: 700px;
    justify-content: space-between;
 
  }


}



@media (min-width: 769px) {
  .cards {
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {...
}