---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- <link rel="stylesheet" href="../static/css/blog.css"> -->
</head>


<body>
    <div class="leftNav" id="main">
        <div class="sidebar">
            <a href="#" class="brand">
                <div class="logo" id="dashb-logo">
                    {% include logo.html %}
                    <!-- <h1>Dashboard</h1> -->
                </div>
            </a>

            <ul class="menu d-list ">
                <li class="d-list" onclick="openPage('Dashboard', this, '')">Dashbard</li>

                <li class="d-list" onclick="openPage('Post', this, '')" id="defaultOpen">Post</li>

                <li class="d-list" onclick="openPage('Pages', this, '')"> Pages</li>

                <li class="d-list" onclick="openPage('Settings', this, '')">Settings</li>

            </ul>

            <div class="menu mobilenav">
                {%include mobilenav.html %}
            </div>
        </div>

        <div class="dashb-content">
            <header>
                <div>
                    <i class="fas fa-bars" id="menu"></i>
                    <!-- <h1>Dashboard</h1> -->
                </div>

                <div>
                    <nav class="navbar">
                        <li>b</li>

                    </nav>
                </div>
            </header>


            <!-- header Ends here -->
            <hr style="outline:solid 1px black;">

            <div>
                <div class="container">
                    <div id="Dashboard" class="tabcontent">
                        <h3>All</h3>
                        <div class="row">
                            {% include adminpannel.html%}
                            <!-- <p> All pages summary here</p> -->

                            <!-- <div class="dcards col-12 col-lg-4">
                                <div class="card">
                                    <h5 class="card-header">Traffic last 6 months</h5>
                                    <div class="card-body">
                                        <div id="traffic-chart"></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <!-- post page -->
                    <div id="Post" class="tabcontent">
                        <h3>Post</h3>
                        <div class="container">
                            <!-- <form action="" method="get"> -->
                            <form class="texTeditor" id="form">

                                <div class=" banner">
                                    <input type="file" accept="image/*" id="banner-upload" hidden>
                                    <label for="banner-upload" class="banner-upload-btn"><img src="img/upload.png"alt="upload banner"></label>

                                    <input type="file" accept="image/*" id="image-upload" hidden>
                                    <label for="image-upload" class="btn grey upload-btn">Upload Image</label>
                                </div>


                                <div class="blog">
                                    <textarea type="text" id="postTitle" class="title" name="postTitle"
                                        placeholder="Blog title..."></textarea>
                                    <textarea type="text" id="textArea" class="article"
                                        placeholder="Write your post.."></textarea>
                                </div>



                                <div id="wrap">
                                    <div class="item_column ">
                                        <select class="btn2">
                                            <option value=""> selection category</option>
                                            <option value="1"> Poetry</option>
                                            <option value="2">Marketing</option>
                                        </select>
                                        <!-- <span id="output">0</span> -->
                                    </div>
                                    <div class="item_column" style="display:flex; justify-content:space-between;">
                                        <!-- <input type="submit" id="previewPost" class=" btn" onclick="handleSubmit()" /> -->
                                        <button id="previewPost" class=" btn2"
                                            style="background-color: white;color: black;">Preview</button>

                                        <button type="submit" id="publishPost" class="addBtn btn">Publish</button>

                                        <!-- <div class="blog-options"></div> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- TabContents or pages -->

                    <div id="Pages" class="tabcontent">
                        <h3>Poetry</h3>
                    </div>

                    <div id="Settings" class="tabcontent">
                        <h3>About</h3>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="../static/js/dashbard.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- <script src="../static/js/new.js"></script> -->

    <!-- <script src="../static/js/blogpost.js"></script> -->
    <!-- <script src="./static/js/new.js"></script> -->


    <script src="../static/js/makePost.js"></script>
    <script src="../static/js/publish.js"></script>

    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script>
        new Chartist.Line('#traffic-chart', {
            labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
            series: [
                [23000, 25000, 19000, 34000, 56000, 64000]
            ]
        }, {
            low: 0,
            showArea: true
        });
    </script>

</body>

</html>